<app-header-geral/>

<h1>CADASTRO</h1>
<hr>
<div class="card-body">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>Nome</label>
        <input type="text" formControlName="nome" class="form-control" placeholder="nome" autocomplete="nome" required>
      </div>
      <div class="form-group">
        <label>Sobrenome</label>
        <input type="text" formControlName="sobrenome" class="form-control" placeholder="sobrenome" autocomplete="sobrenome" required>
      </div>
      <div class="form-group">
        <label>Email</label>
        <input type="email" formControlName="email" class="form-control" placeholder="Email" autocomplete="email" required>
      </div>
      <div class="form-group">
        <label>Senha</label>
        <input type="password" formControlName="senha" class="form-control" placeholder="senha" autocomplete="new-password" required>
      </div>
      <div class="form-group">
        <label>Tipo Sanguineo</label>
        <select formControlName="tipoSanguinio" class="form-control" required>
          <option value="">Selecione seu tipo sanguinio</option>
          <option value="A+">A+</option>
          <option value="A-">A-</option>
          <option value="B+">B+</option>
          <option value="B-">B-</option>
          <option value="AB+">AB+</option>
          <option value="AB-">AB-</option>
          <option value="O+">O+</option>
          <option value="O-">O-</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary px-4">Cadastrar</button>
    </form>
  </div>
  