<app-header-geral/>

<section class="sobre-nos">
    <h1>Sobre Nós</h1>
    <p>Nossa missão é facilitar o processo de doação de sangue, conectando doadores com hospitais e centros de coleta, promovendo uma cultura de solidariedade e cuidado com a vida.</p>
    <div class="equipe">
        <h2>Nossa Equipe</h2>
        <div class="membros">
            <div class="membro">
                <h3>Guilherme Mendes</h3>
            </div>
            <div class="membro">
                <h3>Felipe Santinho</h3>
            </div>
            <div class="membro">
                <h3>Alan Santos</h3>
            </div>
            <div class="membro">
                <h3>Samuel Splitt</h3>
            </div>
            <div class="membro">
                <h3>Michael Douglas</h3>
            </div>
        </div>
    </div>
</section>
