<app-header-geral/>

<section class="sobre-nos">
    <h1>Sobre Nós</h1>
    <p>Nossa missão é facilitar o processo de doação de sangue, conectando doadores com hospitais e centros de coleta, promovendo uma cultura de solidariedade e cuidado com a vida.</p>
    <div class="equipe">
        <h2>Nossa Equipe</h2>
        <div class="membros">
            <div class="membro">
                <img src="img/foto1.jpg" alt="Foto do Membro 1">
                <h3>Nome do Membro 1</h3>
                <p>Função do Membro 1</p>
            </div>
            <div class="membro">
                <img src="img/foto2.jpg" alt="Foto do Membro 2">
                <h3>Nome do Membro 2</h3>
                <p>Função do Membro 2</p>
            </div>
            <div class="membro">
                <img src="img/foto3.jpg" alt="Foto do Membro 3">
                <h3>Nome do Membro 3</h3>
                <p>Função do Membro 3</p>
            </div>
        </div>
    </div>
</section>
